* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 86%);
}

.container {
  margin: 50px 30px;
  background-color: white;
  padding: 20px 20px;
  border-radius: 20px 20px 20rem 20px;
  width: 95%;
}

h3 {
  margin-bottom: 10px;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.numbers {
  display: flex;
  margin: 50px 0;
  align-items: center;
  justify-content: center;
}

.numbers #day,
.numbers #month,
.numbers #year {
  margin: 0 10px;
  color: #808080;
  font-size: .7rem;
}

.numbers input {
  width: 6rem;
  height: 60px;
  border-radius: 10px;
  outline: none;
  font-size: 1.6rem;
  padding-left: .7rem;
  font-weight: bold;
  appearance: textfield;
  border: 1px solid rgba(0, 0, 0, 0.192);
}

.numbers input:focus {
  border: 1px solid hsl(259, 100%, 65%);
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.247);
  margin-top: 4rem;
}

.btn {
  background-color: hsl(259, 100%, 65%);
  border-radius: 3rem;
  padding: 1rem;
  position: absolute;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(0, 0%, 8%);
}

.img img {
  font-weight: bold;
  width: 2rem;
  height: 1.7rem;
}

.purple {
  color: hsl(259, 100%, 65%);
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Poppins';
}

#result {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 5rem;
  margin-bottom: 2rem;
}

.yearResult,
.monthResult,
.daysResult {
  display: flex;
}

.yearResult p,
.monthResult p,
.daysResult p {
  font-weight: bold;
  font-size: 3rem;
  margin-left: 1rem;
}

.attribution {
  text-align: center;
  font-size: .9rem;
  flex-wrap: wrap;
  margin: 0 10px;
}

/* Media queres */
@media (max-width: 319px) {
  .container {
    margin: 5rem auto;
  }
  
  .numbers input {
    max-width: 3.5rem;
    width: 100%;
    height: 60px;
    font-size: 1rem;
  }

  .purple,
  .yearResult p,
  .monthResult p,
  .daysResult p {
    font-size: 2.3rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    margin: 40px auto;
  }
  
  .numbers input {
    max-width: 6rem;
    width: 100%;
    height: 60px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    margin: 40px auto;
  }
  
  .numbers {
    display: flex;
    margin: 50px 0;
    align-items: start;
    justify-content: start;
  }
  
  .numbers input {
    max-width: 10rem;
    width: 100%;
    height: 60px;
  }

  .line {
    justify-content: end;
  }

  .btn {
    margin-right: 50px;
  }
  
  .purple,
  .yearResult p,
  .monthResult p,
  .daysResult p {
    font-size: 4rem;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .numbers {
    display: flex;
    margin: 50px 0;
    align-items: start;
    justify-content: start;
  }
  
  .numbers input {
    max-width: 10rem;
    width: 100%;
    height: 60px;
  }

  .line {
    justify-content: end;
  }

  .btn {
    margin-right: 50px;
  }
  
  .purple,
  .yearResult p,
  .monthResult p,
  .daysResult p {
    font-size: 4.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1600px) {
  .container {
    width: 900px;
    margin: 30px auto;
  }
  
  .numbers {
    display: flex;
    margin: 50px 0;
    align-items: start;
    justify-content: start;
  }
  
  .numbers input {
    max-width: 10rem;
    width: 100%;
    height: 60px;
  }

  .line {
    justify-content: end;
  }

  .btn {
    margin-right: 50px;
  }
  
  .purple,
  .yearResult p,
  .monthResult p,
  .daysResult p {
    font-size: 4.5rem;
  }
}